.jumbotron {
  text-align: center;
  margin-bottom: 0;
}


table {
  table-layout: auto;
  border-collapse: collapse;
  width: 100%;

  th.heading {
    text-align: center;
  }

  td.absorbing-column {
      width: 100%;
  }
}
